{% extends 'base.html' %} 

{% comment %} 
NOTES: In Django templates, we can use
the {% for %} tag to loop through a list of items. In this case, we are looping
through the products list and displaying each product's name and price in a list
item. The {{ product.name }} and {{ product.price }} are template variables that
will be replaced with the actual values of the product's name and price when the
template is rendered. 
{% endcomment %} 

{% block content %}

<h1>Products</h1>
<div class="row">
  {% for product in products %}
    <div class="col">
    <div class="card" style="width: 18rem">
      <img src="{{ product.image_url }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          ${{ product.price }}
        </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
